[Unit]
Description=AlkAlarm Home System
ConditionPathExists=/opt/alkalarm/alkalarm
After=network.target

[Service]
Type=simple
User=root
Group=root
LimitNOFILE=1024

Restart=always
WatchdogSec=1800
RestartSec=5
startLimitIntervalSec=60

WorkingDirectory=/opt/alkalarm
ExecStart=/opt/alkalarm/alkalarm

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/alkalarm
ExecStartPre=/bin/chown root:adm /var/log/alkalarm
ExecStartPre=/bin/chmod 755 /var/log/alkalarm
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=alkalarm

[Install]
WantedBy=multi-user.target